@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Merriweather&display=swap');

  /* color: #CCD8DA; */
  /* color: #E5DAC3; */

  /* font-family: 'EB Garamond', serif; */
  /* font-family: 'Merriweather', serif; */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  /* font-family: 'EB Garamond', serif; */
  font-family: 'Merriweather', serif;
  background-color: #CCD8DA;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.menuContainer {
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 40px;
  margin-top: 30px;
}

.menuContainer a, .menuContainer a:visited {
  color: black;
  font-size: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

.menuContainer a:hover {
  /* font-weight: bold; */
  text-shadow: 1px 1px 3px #000000;
}

.insetContent p {
  font-size: 21px;
  line-height: 40px;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'EB Garamond', serif;
}

@media only screen and (min-width : 480px) {
  .insetContent {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;
  }

  .twoColumn1, .twoColumn2 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .twoColumn1 {
    flex-direction: column;
  }

  .twoColumn2 {
    flex-direction: column-reverse;
  }

  .imageColumn {
    display: flex;
  }

  img {
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  iframe {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width : 992px) {
  .insetContent {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
  }

  .twoColumn1, .twoColumn2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .textColumn, .imageColumn {
    margin: 0px;
    padding: 0px;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
  }

  .twoColumn1 .textColumn {
    padding-right: 20px;
  }

  .twoColumn2 .textColumn {
    padding-left: 20px;
  }

  .twoColumn1 .imageColumn {
    /* padding-right: 0px; */
    padding-left: 10px;
  }

  .twoColumn2 .imageColumn {
    padding-left: 0px;
    padding-right: 10px;
  }

  .imageColumn {
    margin-right: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
  }

  .columnImage {
    width: 90%;
    /* height: 80%; */
    margin-bottom: 40px;
    margin-top: 40px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  }

  /* #video {
    padding-left: 30px;
    padding-right: 30px;
  }

  #video .columnImage {
    width: 100%;
  } */
}


.footer {
  display: flex;
  color: grey;
  height: 100px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 100px;
  margin-bottom: 10px;
  border-top: 1.5px solid;
}

.footer p {
  font-size: 30px;
  font-family: 'EB Garamond', serif;
}
