@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Merriweather&display=swap');

  /* color: #CCD8DA; */
  /* color: #E5DAC3; */

  /* font-family: 'EB Garamond', serif; */
  /* font-family: 'Merriweather', serif; */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  /* font-family: 'EB Garamond', serif; */
  font-family: 'Merriweather', serif;
  /* font-weight: bold; */
  background-color: #CCD8DA;
  font-size: 24px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 40px;
  margin-top: 20px;
}

.menuContainer {
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 40px;
  margin-top: 30px;
}

.menuContainer a, .menuContainer a:visited {
  color: black;
  font-size: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

.menuContainer a:hover {
  /* font-weight: bold; */
  text-shadow: 1px 1px 3px #000000;
}

.heroSection {
  padding-top: 30px;
  display: flex;
}

#heroImage {
  height: 800px;
  width: 100%;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.insetContent {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

h1 {
  font-size: 50px;
  font-family: 'EB Garamond', serif;
  /* font-family: 'Merriweather', serif; */
}

.insetContent p {
  font-size: 21px;
  line-height: 40px;
  /* font-family: 'EB Garamond', serif; */
}

.insetContent a, .insetContent a:visited {
  color: black;
}

.insetContent a:hover {
  font-weight: bold;
}

.footer {
  display: flex;
  color: grey;
  height: 100px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 100px;
  margin-bottom: 10px;
  border-top: 1.5px solid;
}

.footer p {
  font-size: 30px;
  font-family: 'EB Garamond', serif;

}
